#home
  %section.introduction
    .introduction__welcome-photo
    %p.introduction__welcome_text
      An Duong
    %p.introduction__brief_biography
      Software Engineer, Rubyist, Pianist, Booklover
